feathering/feather_tutorial.ipynb
pointing/Pointing_Corrections_on_Rho_OphA.pdf
pointing/pointing_table
results/5eval_dispmaps_copy.jpg
results/5eval_signal_copy.jpg
results/pointing_results.png
results/noise_map_comparison.jpg